<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/12357376/pexels-photo-12357376.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="img-post"
          class="card-ing-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center ml-2"
            >Views -111,555</small
          >
          <small class="bg-light text-warning text-center ml-2"
            >LAST UPDATED - SEP 20,2024</small
          >
          <h1 class="mt-4 mb-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat.
          </h1>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam
            blanditiis accusantium, doloribus incidunt provident ipsam tenetur
            odit cumque cupiditate omnis vitae et dolorem. Maxime facere
            voluptatibus maiores odit, dicta culpa earum qui deleniti unde esse
            assumenda aliquam voluptates delectus, nostrum eaque? Totam nam
            cupiditate earum, rerum nihil consectetur. Perferendis, atque.
          </p>
        </div>
      </div>
      <app-comments-form></app-comments-form>
      <hr />
      <app-comments-list></app-comments-list>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
