<div class="card shadow-effect">
  <img
    src="https://images.pexels.com/photos/19896879/pexels-photo-19896879/free-photo-of-harbor-in-stockholm-sweden.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    class="card-img-top"
    alt="post-img"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center"> Design</small>
    <small class="bg-light text-success text-center ml-3"> Featured</small>
    <small class="bg-light text-info text-center ml-3"> Views - 10000</small>
    <h5 class="mt-1">Lorem ipsum dolor sit amet consectetur adipisicing.</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In, reiciendis
      labore enim officia suscipit sunt illum necessitatibus ratione? Dolorum,
      maiores!
    </p>

    <small class="bg-light text-warning text-center ml-3">
      last updated - sep 20 2024</small
    >
  </div>
</div>
